HOST_AUTH=
PASSWORD_AUTH=
DATABASE_AUTH=
# MYSQL_PAYROLL
PAYROLL_HOST=
PAYROLL_USER=
PAYROLL_PASSWORD= 
DATABASE_PAYROLL= 

# SQL SERVER HUMAN-2025
SERVER_HUMAN=

USER_HUMAN=sa
PASSWORD_HUMAN=


DATABASE_HUMAN=

JWT_SECRET_KEY = 


ENV_EMAIL=
ENV_PASSWORD=

SECRET_KEY=
SECURITY_PASSWORD_SALT=


MYSQL_AUTH_URL=


